//* * FONTS
// Families
$primary-font: 'Manrope', sans-serif;

// Sizes
$font-size-extra-small: 12px;
$font-size-smaller: 14px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-larger: 24px;
$font-size-extra-large: 28px;
$font-size-huge: 32px;
$font-size-huger: 40px;
$font-size-extra-huge: 48px;
$font-size-extra-extra-huge: 56px;


$max-width: 1440px;


$principal-color: #353535;
$secondary-color: #8B8B8B;

$background-color: #F6F6F6;
$second-white-color: #EDEDED;

$white-color: #FFFFFF;
$black-color: #211C24;


//* * COLORS
$error-450: #EA1313;
$error-500: #AF0E0E;

$success-450: #19672E;
$success-500: #134D22;

$warning-450: #A58C29;
$warning-500: #7C691F;


$primary-450: #146C94;
$gray-color: #636769; 
$gray-bg-color: #CBCCCD;
