@import "@mixins";
@import "@animations";
@import "@constants";

.container {
    @include flex(center, center, 10px, column);
    width: 100%;
    height: 100vh;

    .header {
        @include flex(flex-end, flex-end, 10px, row);
        width: 100%;
        padding: 5px;
    }
    .content {
        @include flex(center, center, 10px, column);
        width: 100%;
        height: 100%;
        h1 {
            @include font(150px, 800, inherit);
            animation: fadeInUp 0.5s ease-in-out;
        }
        h4 {
            @include font(20px, 800, inherit);
            animation: fadeInDown 0.5s ease-in-out;
        }
        h6 {
            @include font(15px, 800, inherit);
            animation: fadeInDown 0.5s ease-in-out;
            position: absolute;
            bottom: 5%;
            
            a:visited {
                @include font(10px, 800, $black-color);
            }
        }
    }
  
}